@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(208, 243, 255, 0.8);
}

.navbar {
    background-color: rgb(169, 1, 202);
    text-decoration: none;
    margin: 15px;
    display: flex;
    float: right;
    width: 70vw;
    border-radius: 23px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 8px saddlebrown, 10px 10px 8px slateblue ;
    z-index: 1;
    
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}
div  {
    height: 100vh;
    width: 100vw;
    border-start-start-radius: 25px;
    border-end-end-radius: 25px;
    box-shadow: 2px 4px 10px 4px rgb(18, 13, 34);
    text-align: center;
}

.div1 {
   height: 80vh;
   width: 95vw;
   margin-top: 0;
   left: 0;
   background-color: rgb(21, 17, 255);
   
   
}
.div2 {
    width: 95vw;
    background-color: rgb(153, 230, 255);
    
}
.div3 {
    background-color: rgb(153, 230, 255);
    width: 95vw;
}
.div4 {
     width: 95vw;
     background-color: rgb(153, 230, 255);
}
.div5 {
    width: 95vw;background-color: rgb(153, 230, 255);
}
.logo-img {
    height: 100%;
    width: 100%;
}
.logo-div {
    width: 10vw;
    height: 10vh;
    border-radius: 0;
    box-shadow: none;
    position: absolute;
    border: 2px solid black;
}